* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
  color: white;
  outline: none;
}
header {
  display: flex;
  gap: 2rem;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./assets/background-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
}
footer {
  justify-self: end;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main {
  width: 33%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
form {
  display: flex;
  width: 100%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
label {
  display: flex;
  max-width: 100%;
  min-width: 100%;
  font-size: 20px;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
input {
  width: 100%;
  border-radius: 10px;
  border: 1px;
  padding: 0.7rem;
  color: white;
  background-color: hsla(246, 15%, 58%, 0.308);
}

input::selection {
  border: none;
}
.dragdrop {
  background-color: hsla(252, 6%, 83%, 0.158);
  border-radius: 15px;
  position: relative;
  border: 1px dashed hsl(252, 6%, 83%);
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.dragdrop-info {
  gap: 2px;
  display: flex;
  font-size: 12px;
  color: black;
}
.pfp {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.submit-button {
  border: none;
  cursor: pointer;
  background-color: hsl(7, 88%, 67%);
}
.submit-button:hover {
  background-color: hsl(7, 71%, 60%);
}
#bg-img-1 {
  position: absolute;
  z-index: -10;
  left: 0%;
  bottom: 0%;
}
#bg-img-2 {
  position: absolute;
  z-index: -10;
  right: 0%;
  top: 0%;
}
#bg-img-3 {
  position: absolute;
  width: 100%;
  z-index: -10;
  left: 0%;
  bottom: 0%;
}
#bg-img-4 {
  position: absolute;
  top: -15%;
  left: 10%;
  z-index: -10;
}
#bg-img-5 {
  position: absolute;
  z-index: -10;
  right: 10%;
}
#bg-img-mobile {
  display: none;
}
.pfp-upload {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: none;
  opacity: 0;
  pointer-events: auto;
  visibility: visible;
  cursor: pointer;
}
.filled-pfp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  button {
    background-color: hsl(245, 19%, 35%);
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  img {
    width: 80px;
    border-radius: 10px;
  }
  div {
    display: flex;
    gap: 10px;
  }
}
.ticket-section {
  display: none;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
}
.ticket-title {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;

  gap: 1rem;
  h3 {
    font-size: 32px;
  }
  p {
    color: hsl(245, 15%, 58%);
  }
}
.ticket-header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;

  p {
    width: fit-content;
  }
  img {
    width: 2rem;
  }
}

.ticket-container {
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  background: url("./assets/pattern-ticket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 2rem;
  gap: 2rem;
  width: 25rem;
  height: 100%;

  .ticket-background {
    position: absolute;
    width: 100px;
    height: 1000px;
    right: 0;
    top: 0;
    z-index: -10;
  }
}

.ticket-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  p {
    font-weight: bold;
    font-size: 24px;
  }
  .ticket-avatar {
    width: 7rem;
    border-radius: 5px;
  }
}
.ticket-github {
  display: flex;
  align-items: center;
}
.ticket-user-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#text-email {
  color: hsl(7, 71%, 60%);
}
#text-user-name-title {
  background: linear-gradient(90deg, hsl(7, 71%, 60%), hsl(0, 0%, 100%));
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 885px) {
  body {
    background-image: url("./assets/background-mobile.png");
    position: relative;
    /* height: max-content; */
  }
  .bg-img {
    display: none;
  }

  #bg-img-mobile {
    display: block;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 280px;
    z-index: -10;
  }
  #bg-img-2 {
    display: block;
    position: absolute;
    width: 200px;
    z-index: -10;
    right: 0%;
    top: 0%;
  }
  form,
  main {
    width: 90%;
  }
  .ticket-section {
    width: 90%;
    p {
      font-size: 12px;
    }
  }
  .ticket-container {
    height: 100%;
    max-width: 100%;
    padding: 1rem;
  }
  #h3-teimoso {
    font-size: 16px;
  }
  #ticket-avatar {
    width: 4rem;
    border-radius: 5px;
  }
}
